.form {
  display: inline-flex;
}
@media (max-width: 980px) {
  .form {
    flex-wrap: wrap;
    width: 100%;
  }
}
.form_input {
  border: 0;
  padding: 0 20px;
  border-radius: 5px 0 0 5px;
  background-color: white;
  width: 330px;
  height: 58px;
}
@media (max-width: 980px) {
  .form_input {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px;
  }
}
.form_button {
  border: 0;
  padding: 0;
  background-color: #bf0508;
  border-radius: 0 5px 5px 0;
  width: 200px;
  height: 58px;
  font: 700 14px/1 'Open Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.form_button:hover {
  opacity: 0.9;
}
@media (max-width: 980px) {
  .form_button {
    border-radius: 5px;
    width: 100%;
  }
}
