mixin map
  section.map.layout.layout__map
    .layout_section
      h2.h2.h2__invert Контакты
      p.p.p__invert 190031, РФ, Санкт-Петербург, Спасский пер., дом 12, лит.А, помещение 7Н 
      .p.map_contacts
        .map_phone +7 (812) 407-10-22
        a.map_email(href='mailto:nfo@la-advokat.ru') nfo@la-advokat.ru