-
  var buildings = [
    'СК Базис, ЖК «Люмьер»',
    'ООО «Балтжилинвест», ЖК “Охта-Модерн”',
    'ГК «Город» (ООО «Спутник», ООО «Планета») ЖК “Ленинский парк”',
    'ООО «Балтжилинвест», ЖК “Охта-Модерн”',
    'ГК «Город» (ООО «Спутник», ООО «Планета») ЖК “Ленинский парк”',
    'ООО «Балтжилинвест», ЖК “Охта-Модерн”',
    'ГК «Город» (ООО «Спутник», ООО «Планета») ЖК “Ленинский парк”',
    'ООО «Балтжилинвест», ЖК “Охта-Модерн”',
    'ГК «Город» (ООО «Спутник», ООО «Планета») ЖК “Ленинский парк”',
    'ООО «Балтжилинвест», ЖК “Охта-Модерн”',
    'ГК «Город» (ООО «Спутник», ООО «Планета») ЖК “Ленинский парк”',
  ]

mixin buildings
  .buildings
    .buildings_list
      - var i = 0;
      each building in buildings
        .buildings_item(class=(i) ? '' : 'buildings_item__active')= building
        - i++;
    .buildings_content
      img.buildings_image(src='img/buildings.jpg', alt='')
      h4.buildings_title СК Базис, ЖК «Люмьер»
      .buildings_text
        | Неустойка за просрочку сдачи объекта. Просрочка более 2 лет по некоторым объектам.
        | Брали денежные средства по предварительному договору — что является прямым
        | нарушением Закона о долевом участии.