-
  var consultOur = [{
      image: 'img/service-01.jpg',
      text: 'Консультация по долевому строительству',
    },{
      image: 'img/service-02.jpg',
      text: 'Досудебное урегулирование споров',
    },{
      image: 'img/service-03.jpg',
      text: 'Сопровождение в суде дел по долевому строительству',
    },{
      image: 'img/service-04.jpg',
      text: 'Услуги по минимизации рисков при покупке жилья',
  }];
  var consultHelpMain = [{
      image: 'img/help-01.jpg',
      text: 'Нарушение сроков сдачи дома',
    },{
      image: 'img/help-02.jpg',
      text: 'Квартира с дефектами: кривые стены, нарушение санитарных норм, плохая  т.д.',
    },{
      image: 'img/help-03.jpg',
      text: 'Навязывание незаконных услуг (регистрация договора ДДУ и регистрация собственности за плату)',
  }];
  var consultHelpMinor = [{
      image: 'img/help-01.jpg',
      text: 'Навязывание незаконных условий',
    },{
      image: 'img/help-02.jpg',
      text: 'Изменение плана и размеров квартиры',
    },{
      image: 'img/help-03.jpg',
      text: 'Другие нарушения',
  }];
  var consultViolationsMain = [{
      image: 'img/01.jpg',
      text: 'Навязанная услуга по регистрации договора долевого участия в Федеральной службе государственной регистрации кадастра и картографии (Росреестр) - практически, у всех застройщиков.',
    },{
      image: 'img/02.jpg',
      text: 'Занижение в договоре площади квартиры, с указанием, что если площадь уменьшится или увеличится, то соответственно, либо застройщик вернёт разницу или клиент доплачивает за дополнительные метры (в частности, ЖК “Северная долина”, застройщик Главстрой СПб).',
    },{
      image: 'img/03.jpg',
      text: 'Нарушения в области санитарных норм: превышение аммиака в сданной квартире (в частности, ЖК Оптимист, застройщик ЮИТ)',
  }];
  var consultViolationsMinor = [{
      image: 'img/04.jpg',
      text: 'Некачественная отделка (например, щели в окнах), плохое теплоснабжение и т.д. (в частности, ЖК Балтийская Жемчужина)',
    },{
      image: 'img/05.jpg',
      text: 'Квартиры сданные с кривыми стенами, например, в некоторых квартирах ванны     были установлены под наклоном, так как не помещались между стенами (в частности, ЖК Аврора, застройщик ЛСР (ГДСК)).',
    },{
      image: 'img/06.jpg',
      text: 'Предлагается к подписанию Акт осмотра квартиры без осмотра, причем в Акте, который не подлежит изменению, об этом не указывается. В Акте указывается формулировка, что квартира осмотрена и клиент претензий не имеет. Если Акт не подписывается, то придется ждать еще от 2-х до 4-х месяцев до получения ключей (в частности, ЖК “Северная долина”, застройщик Главстрой СПб).',
  }];