-
    var discountItems = [{amount:'10%',text:'при заключении договора в день первичного приёма'}, {amount:'10%',text:'при 100% оплате услуг'}, {amount:'10%',text:'льготной категории граждан при предъявлении'}, {amount:'20%',text:'при повторном обращении'}]