mixin footer
  footer.footer.layout
    .layout_section
      h4.h4.h4__invert Мы принимаем к оплате:
      .footer_card-list
        img.footer_card-item(src='img/card-type__mc.png', alt='')
        img.footer_card-item(src='img/card-type__visa.png', alt='')
      .footer_copyright
        | © 2004-2016 Юридическое агентство Санкт-Петербурга
        br
        br
        | Незаконное использование, распространение, копирование материалов и информации,
        br
        | размещенной на настоящем информационном ресурсе (dolevoepravo.ru ) влечет ответственность,
        br
        | предусмотренную законодательством Российской Федерации и международными нормами,
        br
        | в т.ч. законодательством об интеллектуальной собственности.